@import '../../scss/base.scss';

.current-weather {
    padding: 1rem;
    background-color: rgba(map-get($color, dark), .8);

    @include fonts(
        map-get($font-family, noto),
        map-get($font-size, sm),
        600,
        map-get($color, lighter)
    );
}

.icon {
    &-night {
        color: map-get($color, blue);
    }

    &-day {
        color: map-get($color, rgb(243, 243, 46));
    }
}

.main-box {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 350px;
    height: 200px;
}

.slideshow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15.5rem;
    padding-right: 17px;
    box-sizing: content-box;

    grid-auto-columns: 33%;
    gap: 32px;

    overflow-y: hidden;
    overflow-x: scroll;
}