@import '../../scss/base.scss';

.weather-results {
    font-family: map-get($font-family, noto);
}

.icon {
    &-night {
        color: map-get($color, blue);
    }

    &-day {
        color: map-get($color, yellow);
    }
}