@import '../../scss/base.scss';

.weather-results {
    font-family: map-get($font-family, noto);
}

.icon {
    &-night {
        color: map-get($color, blue);
    }

    &-day {
        color: map-get($color, rgb(243, 243, 46));
    }
}

.main-box {
    border-radius: 25px;
    background: white;
    padding: 20px;
    width: 350px;
    height: 200px;
}