#map {
    height: 100%;  
  }
  .map-div{
    position: absolute;
    margin-top: 10rem;
    width: 100%;
    bottom: 0;
    top: 2rem;
    z-index: 1;
  }
  .map-select-open-height{
    top: 17rem;
    transition: 1s;
  }
  .map-select-close-height{
    top: 2rem;
    transition: 1s;
  }
  .map-weather-open-height{
    top: 35rem;
    transition: 1s;
  }
  .map-weather-close-height{
    top: 2rem;
    transition: 1s;
  }
  .map-navbar-open{
    left: 15rem;
    transition: 0.8s;
  }
  .map-navbar-close{
    left: 0;
    transition: 0.8s;
  }