@import '../../scss/base.scss';

.calendar {
    display: inline-block;
    padding: 1rem;

    &-day {
        font-weight: bold;
    }

    &-hour {
        span {
            @include fonts(
                map-get($font-family, noto),
                map-get($font-size, sm),
                600,
                map-get($color, tertiary)
            );
            display: block;
            width: 5rem;
        }
    }
}