@import '../../scss/base.scss';

.calendar {
    display: inline-block;
    margin: 0 .15rem;
    padding: .5rem;
    background-color: rgba(map-get($color, black), .8);

    @include borderTopRadius;
    @include borderBottomRadius;

    &-day {
        text-align: center;
        font-weight: bold;
    }

    &-hour {
        background-color: map-get($color, lighter);
        border: solid 1px map-get($color, dark);

        &-data {            
            display: block;
            width: 6.5rem;
            margin: .25rem;

            @include fonts(
                map-get($font-family, noto),
                map-get($font-size, xs),
                600,
                map-get($color, darker)
            );

            &-2 {
                // height: 2.5rem;
                width: 5rem;
                margin: .25rem;
    
                @include fonts(
                    map-get($font-family, noto),
                    map-get($font-size, xs),
                    600,
                    map-get($color, darker)
                );
                }
        }
    }
}