@import '../../scss/base.scss';

.calendar {
    display: inline-block;
    margin: 0 .15rem;
    padding: 0 0.5rem;
    width: 14rem;
    height: 10.5rem;
    overflow-y: hidden;

    @include borderTopRadius;
    @include borderBottomRadius;

    &-day {
        position: sticky;
        top: 0;
        width: 100%;
        color: map-get($color, dark);
        display: inline-block;
        text-align: center;
        font-weight: bold;
    }

    &-hour {
        // border-bottom: solid 1px map-get($color, lighter);
        height: 10.5rem;

        transition: all 1.2s;

        &-data {            
            display: block;
            margin: 0;
            padding: .025rem;
            min-width: 7rem;

            @include fonts(
                map-get($font-family, noto),
                map-get($font-size, rg),
                600,
                map-get($color, darker)
            );

            &-image {
                height: 4rem;
            }
        }
    }
}

.time {
    @include fonts(
        map-get($font-family, noto),
        map-get($font-size, rg),
        bold,
        map-get($color, red)
    );
}

.center {
    text-align: center;
}