@import '../../scss/base.scss';

.carousel {
    width: 100%;
}

/* Required */
.slides {
    justify-content: start;
    align-items: start;

    grid-auto-columns: 30%;
    gap: 32px;
    height: 25rem;;
    
    @media only screen and (max-width: 750px) {
        grid-auto-columns: 50%;
    }
    
    @media only screen and (max-width: 500px) {
        grid-auto-columns: 110%;
    }

    @include noScroll;
    overflow-y: hidden;
}

/* Optional */
.slide {
    position: relative;
    overflow: hidden;
}
.slide img {
    display: block;
    width: 100%;
}
.slide span {
    color: white;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.controls {
    @include flexbox(row, space-between);
    position: relative;
    top: -4rem;
}

.control {
    justify-items: center;
    align-items: center;
    border: none;
    
    @include colors(
        transparent,
        map-get($color, primary)
    )
}
.control:disabled {
    opacity: 0.4;
}