@import '../../scss/base.scss';

.carousel {
    padding: auto;
    width: 100%;
}

/* Required */
.slides {
    justify-content: start;
    align-items: start;

    grid-auto-columns: 33%;
    gap: 32px;
    
    @media only screen and (max-width: 750px) {
        grid-auto-columns: 50%;
    }
    
    @media only screen and (max-width: 500px) {
        grid-auto-columns: 110%;
    }
}

/* Optional */
.slide {
    position: relative;
    overflow: hidden;
    border-radius: 24px;
}
.slide img {
    display: block;
    width: 100%;
}
.slide span {
    color: white;
    display: block;
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 24px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background-color: #6b9080;
    color: #ffffff;
}
.control:disabled {
    opacity: 0.4;
}