@import './scss/shared.scss';

#root {
  // max-width: 1280px;
  height: 100vh;
  margin: 0 auto;

  @include noScroll;
  @extend %fullSpace;
}

#main {
  height: calc(100vh - 4rem);
  
  @extend %noWhiteSpace;
}