@import './scss/shared.scss';

#root {
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;

  @include noScroll;
  @extend %fullSpace;
}

#main {
  height: calc(100vh - 2rem);
  
  @extend %noWhiteSpace;
}

.main-header {
  padding: 0;
  margin: 0;
}

.logo {
  height: 4rem;
}