@import './scss/base.scss';

.main-header {
    background-color: map-get($color, primary);
    height: 4rem;
    padding: 0;
    margin: 0;
}

.logo {
    position: relative;
    top: 2px;
    left: 2.5rem;
    height: 3.8rem;
    cursor: pointer;
}

.link {
    position: relative;
    top: 1rem;
    float: right;
    padding-right: 1rem;
    text-decoration: none;
    cursor: pointer;

    @include fonts(
        map-get($font-family, noto),
        map-get($font-size, lg),
        300,
        map-get($color, white)
    );

    &-active {
        position: relative;
        top: 1rem;
        float: right;
        padding-right: 1rem;
        text-decoration: none;
        cursor: pointer;
    
        @include fonts(
            map-get($font-family, noto),
            map-get($font-size, lg),
            bold,
            map-get($color, white)
        );
    }
}